group_name            = "xxx"
aws_region            = "xxx"
aws_access_key_id     = "xxx"
aws_secret_access_key = "xxx"
ssh_public_key        = "xxx"
ssh_private_key       = "xxx"
vpn_user              = "xxx"
vpn_password          = "xxx"
vpn_psk               = "xxx"
vpn_target_ip         = "xxx"
